h1
{
    display: flex;
    align-items: center;
    color: var(--fonts-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
}

h2
{
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    margin: 0;
    padding: 30px 0 30px 0;
}

h3
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-left: 20px;
}


h4
{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    color: var(--price-color);
}


.span_nav
{
    font-size: 22px;
    color: var(--fonts-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.pNav
{
    color: var(--price-color);
    font-size: 42px;
}


.footer_span
{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;

}